---
import Layout from '../layouts/Layout.astro'
import CreateGame from '../components/CreateGame.svelte'
---
<Layout title='add games'>
<section>
  <CreateGame client:visible />
</section>
</Layout>
