---
import { games } from '../mocks/data'
import Layout from '../layouts/Layout.astro';
import GameCard from '../components/GameCard.astro'
---

<Layout title="My games list">
	<header class="flex place-content-center mt-10">
		<h1 class="font-medium lg:text-5xl">Juegos por jugar</h1>
	</header>
	<main class="mt-10 items-center">
		{
			games.map((game) => <GameCard games={game}/>)
		}
	</main>
</Layout>
