---
import Layout from '../layouts/Layout.astro';
import GameCard from '../components/GameCard.astro'
import { useFilter } from '../hooks/useFilter';

const { toPlay, filterGames } = useFilter()

const games = filterGames(toPlay)
---

<Layout title="My games list">
	<header class="flex place-content-center mt-10">
		<h1 class="font-medium lg:text-5xl">Juegos por jugar</h1>
	</header>
	
	<article class="w-full grid md:grid-cols-2 gap-4 mt-16 sm:grid-cols-1">
		{ 
			games.map((game) => <GameCard games={game} />)
		}
	</article>
</Layout>
