---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro'
import AddIcon from '../icons/AddIcon.astro'
---

<Layout title="My games list">
	<article>
		<div class="bg-red-400 rounded-lg text-center p-5">
			<Button buttonText='Ver juegos por platinar' redirect='/completados'>
			</Button>
		</div>

		<div class="bg-red-400 rounded-lg text-center p-5">
			<Button buttonText='Ver juegos jugados' redirect='/jugados'/>
		</div>

		<div class="bg-red-400 rounded-lg text-center p-5">
			<Button buttonText='Ver juegos por jugar' redirect='/juegos-jugar'/>
		</div>

		<div class="bg-red-400 rounded-lg text-center p-5">
			<Button buttonText='Ver juegos jugando actualmente' redirect='/jugando-actualmente'/>
		</div>
	
	</article>
</Layout>

<style>
	article {
		height: 90dvh;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		margin-top: 50px;
		margin-inline: 50px;
		gap: 25px;
	}
</style>
