---
import Layout from '../layouts/Layout.astro';
---

<Layout title="My games list">
	<header class="flex place-content-center mt-10">
		<h1 class="font-medium lg:text-5xl">Juegos por jugar</h1>
	</header>
	<main class="mt-10 items-center">
		Lista de juegos
	</main>
</Layout>
