---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro'
---

<Layout title="My games list">
	<article>
		<div class="bg-red-400 rounded-lg text-center p-5">
			<span>Ver juegos</span>
		</div>

		<div class="bg-red-400 rounded-lg text-center p-5">
			<span>Ver juegos</span>
		</div>

		<div class="bg-red-400 rounded-lg text-center p-5">
			<span>Ver juegos</span>
		</div>

		<div class="bg-red-400 rounded-lg text-center p-5">
			<span>Ver juegos</span>
		</div>
		
	</article>
</Layout>

<style>
	article {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		margin-top: 50px;
		margin-inline: 50px;
		gap: 25px;
	}
</style>
