---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro'
import Trophy from '../icons/Trophy.astro'
import CheckList from '../icons/CheckList.astro'
import Gamepad from '../icons/Gamepad.astro'
import List from '../icons/List.astro'
import AddIcon from '../icons/AddIcon.astro'
---

<Layout title="My games list">
	<Button buttonText='Agregar juego' redirect='/'>
		<AddIcon />
	</Button>

	<article>
		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5 grad-bg">
			<div class="bg-stone-200/20 w-[45%] h-full content-center justify-items-center rounded-2xl">
				<Trophy width='75' height='75' strokeWidth='1.7' stroke='black' />
			</div>
			<Button buttonText='Juegos por platinar' redirect='/completados' />
		</div>

		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5 grad-bg">
			<div class="bg-stone-200/20 w-[45%] h-full content-center justify-items-center rounded-2xl">
				<CheckList width='75' height='75' stroke='black' strokeWidth='1.7'/>
			</div>
			<Button buttonText='Jugados' redirect='/jugados'/>
		</div>

		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5 grad-bg">
			<div class="bg-stone-200/20 w-[45%] h-full content-center justify-items-center rounded-2xl">
				<List width='75' height='75' stroke='black' strokeWidth='1.7'/>
			</div>
			<Button buttonText='Juegos por jugar' redirect='/juegos-jugar'/>
		</div>
		
		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5 grad-bg">
			<div class="bg-stone-200/20 w-[45%] h-full content-center justify-items-center rounded-2xl">
				<Gamepad width='75' height='75' stroke='black' strokeWidth='1.7'/>
			</div>
			<Button buttonText='Jugando actualmente' redirect='/jugando-actualmente'/>
		</div>
	
	</article>
</Layout>

<style>
	article {
		height: 90dvh;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		margin-top: 50px;
		margin-inline: 50px;
		gap: 25px;
	}

	.grad-bg {
		background: rgb(83,108,145);
		background: linear-gradient(180deg, rgba(83,108,145,1) 0%, rgba(71,95,123,1) 12%, rgba(31,41,55,1) 100%);
	}
</style>
