---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro'
import Trophy from '../icons/Trophy.astro'
import CheckList from '../icons/CheckList.astro'
import Gamepad from '../icons/Gamepad.astro'
import List from '../icons/List.astro'
---

<Layout title="My games list">
	<article>
		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5">
			<div class="bg-stone-500/25 w-[85%] h-full content-center justify-items-center rounded-2xl">
				<Trophy width='75' height='75' strokeWidth='1.7' stroke='black' />
			</div>
			<Button buttonText='Ver juegos por platinar' redirect='/completados' />
		</div>

		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5">
			<div class="bg-stone-500/25 w-[85%] h-full content-center justify-items-center rounded-2xl">
				<CheckList width='75' height='75' stroke='black' strokeWidth='1.7'/>
			</div>
			<Button buttonText='Ver juegos jugados' redirect='/jugados'/>
		</div>

		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5">
			<div class="bg-stone-500/25 w-[85%] h-full content-center justify-items-center rounded-2xl">
				<List width='75' height='75' stroke='black' strokeWidth='1.7'/>
			</div>
			<Button buttonText='Ver juegos por jugar' redirect='/juegos-jugar'/>
		</div>
		
		<div class="bg-red-400 flex flex-col items-center justify-center rounded-lg text-center p-5">
			<div class="bg-stone-500/25 w-[85%] h-full content-center justify-items-center rounded-2xl">
				<Gamepad width='75' height='75' stroke='black' strokeWidth='1.7'/>
			</div>
			<Button buttonText='Ver juegos jugando actualmente' redirect='/jugando-actualmente'/>
		</div>
	
	</article>
</Layout>

<style>
	article {
		height: 90dvh;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
		margin-top: 50px;
		margin-inline: 50px;
		gap: 25px;
	}
</style>
