---
import Layout from "../layouts/Layout.astro"
import { useFilter } from "../hooks/useFilter"
import GameCard from "../components/GameCard.astro"

const { finished, filterGames } = useFilter()
const games = filterGames(finished)
---
<Layout title="Pasados">

  <header class="flex place-content-center mt-10">
		<h1 class="font-medium lg:text-5xl">Jugados</h1>
	</header>

  <article class="w-full grid md:grid-cols-2 gap-4 mt-16 sm:grid-cols-1">
    {
      games.map((game) => <GameCard games={game}/>)
    }
  </article>
    
</Layout>

