---
import Layout from "../layouts/Layout.astro"
// import { useFilter } from "../hooks/useFilter"
import GameCard from "../components/GameCard.astro"
import AddIcon from '../icons/AddIcon.astro'
import Button from '../components/ui/Button.astro'
import type { GamesData } from '../mocks/data'

// const { finished, filterGames } = useFilter()
// const games = filterGames(finished)
const games: GamesData[] = await fetch('http://localhost:3000/completados').then(res => res.json())
---
<Layout title="Pasados">

  <header class="flex place-content-center mt-10">
		<h1 class="text-zinc-800 font-medium lg:text-5xl">Jugados</h1>
	</header>

  <Button buttonText='Agregar juego' redirect='/'>
    <AddIcon />
  </Button>

  <article class="w-[90%] grid md:grid-cols-2 gap-4 mt-16 mx-auto sm:grid-cols-1">
    {
      games.map((game) => <GameCard games={game}/>)
    }
  </article>
    
</Layout>

