---
import AddIcon from '../../icons/AddIcon.astro'

interface Props {
  buttonText: string
  redirect: string
}

const props = Astro.props
---
  <div>
    <a href={props.redirect}>
      <slot/>
      {props.buttonText}
    </a>
  </div>

<style>
  div {
    width: 50%;
    margin: 30px auto;
  }
  
  a {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 15px 45px;
    border-radius: 8px;
    background-color: grey;
    cursor: pointer;
    font-weight: 500;
  }
</style>
